@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1d2328;
  color: hsl(0deg, 0%, 90%);
  text-align: center;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: initial;
}
body a {
  color: inherit;
  text-decoration-line: none;
  text-decoration-color: hsl(0deg, 100%, 77%);
}
body a:hover, body a:focus-within {
  text-decoration-line: underline;
}
body .highlight-links a {
  text-decoration-line: underline;
}
body .highlight-links a:not(body .highlight-links a:hover, body .highlight-links a:focus-within) {
  text-decoration-color: #3e6265;
}
body > .header {
  text-align: center;
}
body > .header h1 {
  color: #87b5b1;
  margin-bottom: 0;
}
body > .header h2 {
  color: hsl(0deg, 100%, 77%);
}
body > main {
  display: inline-block;
  text-align: initial;
}
@media screen {
  body > main:not(.manual-width) {
    width: clamp(300px, 80%, 800px);
  }
}
@media screen {
  body > main {
    padding: 20px 40px 30px 40px;
    background-color: hsl(205deg, 19%, 17%);
  }
}
body > main hr {
  color: #3e6265;
}
body > main h2 {
  text-align: center;
  color: hsl(0deg, 100%, 77%);
}
body > main h3 {
  color: #87b5b1;
}
body > main ul, body > main ol {
  display: inline-block;
  text-align: initial;
}
body > main blockquote {
  border-left: 4px solid #3e6265;
  padding-left: 15px;
}
body > main em, body > main strong {
  color: #a686b6;
}
body footer {
  margin: 30px 0 40px 0;
  text-align: center;
  color: #526c6d;
}
body footer::before, body footer::after {
  content: "—";
  padding: 10px;
  color: #324043;
}

body .center {
  text-align: center;
}
@media screen {
  body > .header {
    margin-top: 30px;
  }
}
body > .header p span {
  color: #87b5b1;
  padding: 0 10px;
}
body > main ul {
  margin-top: 0;
}
body > main ul.small-list li:not(:first-of-type) {
  margin-top: 5px;
}
body > main ul.big-list li:not(:first-of-type) {
  margin-top: 30px;
}
@media (max-width: 600px) {
  body > main ul.big-list {
    padding-left: 10px;
  }
  body > main ul.big-list li:not(:first-of-type) {
    margin-top: 50px;
  }
}
body > main .center > ul {
  margin: 0px;
  padding: 0px;
}
body > main hr {
  width: 60%;
  margin: 30px auto;
}
body > main hr:first-of-type {
  margin-top: 40px;
}
@media print {
  body > main hr {
    display: none;
  }
}
body > main .minor-link {
  color: #91aca9;
  font-size: 0.8em;
  margin-left: 0.4em;
  opacity: 0.8;
}
@media print {
  body footer {
    display: none;
  }
}
